@(searchForm: Form[Search], user: String, bool: Integer, tweets: List[String], personaForm: Form[Persona], img: String, interestForm: Form[Interest], term: String, personas: List[String], interests: List[String]))

@import helper._

<script sync src="https://platform.twitter.com/widgets.js"></script>
<script src="http://code.jquery.com/jquery-2.1.4.js"; type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/render.js")"; type="text/javascript"></script>

@main("Search Results")(searchForm)(user)(bool)(personaForm)(img)(interestForm)(personas)(interests) {
  <div id="searchResults">
  	<h3>Search Results for @term:</h3>
  	<p id="list">
  			@for(tweet <- tweets){
  				<p id="@tweet"><br></p>
  				<script>
					rendering("@tweet");
				</script>
  			}
  	</p>
  </div>
}

