@(searchForm: Form[Search], trackForm: Form[Track], messageForm: Form[Message], user: String, bool: Integer, popTweets: List[String], recentTweets: List[String], recentTweets1: List[String], recentTweets2: List[String], media: List[String], media1: List[String], media2: List[String], img: String, term: String, personas: List[String], interests: List[String])

@import helper._
@implicitFieldConstructor = @{ b4.horizontal.fieldConstructor("col-md-2", "col-md-10") }

<script sync src="https://platform.twitter.com/widgets.js"></script>
<script src="http://code.jquery.com/jquery-2.1.4.js"; type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/render.js")"; type="text/javascript"></script>

@main("Search Results")(searchForm)(user)(bool)(img)(personas)(interests){
    <h3 id="upper">search results for "<span class="lite">@term</span>":
      <a href="@routes.SearchController.searchAnalytics()" class="btn btn-primary" id="analytics-btn"> Search Analytics </a>
    </h3>

    <div id="loader-bg">
     <div id="loader"></div>
   </div>

    <div id="page-content" style="display:none">

  	  <ul class="nav nav-tabs">
        <li class="nav-item tab_item">
          <div id="recent_tab"> <a class="nav-link active search_result" onclick="openTab(event, 'recent')">Recent</a></div>
        </li>
        <li class="nav-item tab_item">
            <div id="popular_tab"><a class="nav-link search_result" onclick="openTab(event, 'popular')">Top 15 Tweets</a></div> 
          </li>
          <li class="nav-item tab_item">
            <div id="media_tab"><a class="nav-link search_result" onclick="openTab(event, 'media')">Photos, Videos and Links</a></div>
          </li>
        </ul>

          <div id="recent" class="tweets">
            <div class="card-columns">
              @for(tweet <- recentTweets){
                @defining(tweet.split("-")) { tweetArray =>                 
                  <div class="card">
                    <div id="@tweetArray(0)">
                      <script>
                        rendering("@tweetArray(0)");
                      </script>
                    </div>
                     
                    @if(bool==1){  
                      <a class="msg_btn" data-toggle="modal" data-target="#@tweet">
                        Message <span style="color: #E4BC7B">@tweetArray(1)</span> <i class="icon-envelope-l"></i> 
                      </a>
                    }
                  </div>
                

                  <div class="modal fade" id="@tweet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="interest-label">Send Message</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div id="interest-form">
                                    @b4.form(action=helper.CSRF(routes.SearchController.sendMessage(request.uri))){ 

                                            @b4.text(messageForm("recipientName").copy(value= Option[String](tweetArray(1))),
                                                'placeholder -> "Recipient Name",
                                                '_label -> "To:",
                                                'size -> 1)

                                            @b4.textarea(messageForm("message"),
                                                'placeholder -> "Message",
                                                '_label -> "Message:",
                                                'rows -> 4)

                                    
                                    </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" id="submit-btn" type="submit">Send</button>
                            }
                              </div>
                            </div>
                          </div>
                        </div>
                        
                }
              }
            </div>

            <hr>
            <div class="button_wrapper">
              <a class="show_btn" id="show">
                <b class="caret"></b> Show More
              </a>
            </div>

              <div class="card-columns">

              <div id="more" style="display:none">
                @for(tweet <- recentTweets1){
                  @defining(tweet.split("-")) { tweetArray =>                 
                    <div class="card">
                      <div id="@tweetArray(0)">
                        <script>
                          rendering("@tweetArray(0)");
                        </script>
                      </div>
                        
                      @if(bool==1){  
                        <a class="msg_btn" data-toggle="modal" data-target="#@tweet">
                        Message <span style="color: #E4BC7B">@tweetArray(1)</span> <i class="icon-envelope-l"></i> 
                      </a>
                      }
                    </div>
                  

                    <div class="modal fade" id="@tweet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="interest-label">Send Message</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div id="interest-form">
                                      @b4.form(action=helper.CSRF(routes.SearchController.sendMessage(request.uri))){ 

                                              @b4.text(messageForm("recipientName").copy(value= Option[String](tweetArray(1))),
                                                'placeholder -> "Recipient Name",
                                                '_label -> "Recipient Name",
                                                'size -> 1)

                                            @b4.textarea(messageForm("message"),
                                                'placeholder -> "Message",
                                                '_label -> "Message:",
                                                'rows -> 4)

                                      
                                      </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button class="btn btn-primary" id="submit-btn" type="submit">Send</button>
                              }
                                </div>
                              </div>
                            </div>
                          </div>
                          
                  }
                }
              </div>
            </div>

            <div class="button_wrapper">
              <a class="show_btn" id="show2" style="display:none">
                <hr>
                <b class="caret"></b> Show More
              </a>
            </div>
              <div class="card-columns">

              <div id="showMore" style="display:none">
                @for(tweet <- recentTweets2){
                  @defining(tweet.split("-")) { tweetArray =>                 
                    <div class="card">
                      <div id="@tweetArray(0)">
                        <script>
                          rendering("@tweetArray(0)");
                        </script>
                      </div>
                      
                      @if(bool==1){  
                        <a class="msg_btn" data-toggle="modal" data-target="#@tweet">
                        Message <span style="color: #E4BC7B">@tweetArray(1)</span> <i class="icon-envelope-l"></i> 
                      </a>
                      }
                    </div>
                  

                    <div class="modal fade" id="@tweet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="interest-label">Send Message</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div id="interest-form">
                                      @b4.form(action=helper.CSRF(routes.SearchController.sendMessage(request.uri))){ 

                                              @b4.text(messageForm("recipientName").copy(value= Option[String](tweetArray(1))),
                                                'placeholder -> "Recipient Name",
                                                '_label -> "Recipient Name",
                                                'size -> 1)

                                            @b4.textarea(messageForm("message"),
                                                'placeholder -> "Message",
                                                '_label -> "Message:",
                                                'rows -> 4)

                                      
                                      </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button class="btn btn-primary" id="submit-btn" type="submit">Send</button>
                              }
                                </div>
                              </div>
                            </div>
                          </div>
                          
                  }
                }
              </div>
            </div> 
          </div>

          <div id="popular" class="tweets">
            <div class="card-columns">
              @for((tweet) <- popTweets){
                @defining(tweet.split("-")) { tweetArray =>                 
                  <div class="card">
                    <div id="@tweetArray(0)">
                      <script>
                        rendering("@tweetArray(0)");
                      </script>
                    </div>
                     
                    @if(bool==1){  
                      <a class="msg_btn" data-toggle="modal" data-target="#@tweet">
                        Message <span style="color: #E4BC7B">@tweetArray(1)</span> <i class="icon-envelope-l"></i> 
                      </a>
                    }
                  </div>
                

                  <div class="modal fade" id="@tweet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="interest-label">Send Message</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div id="interest-form">
                                    @b4.form(action=helper.CSRF(routes.SearchController.sendMessage(request.uri))){ 

                                            @b4.text(messageForm("recipientName").copy(value= Option[String](tweetArray(1))),
                                                'placeholder -> "Recipient Name",
                                                '_label -> "Recipient Name",
                                                'size -> 1)

                                            @b4.textarea(messageForm("message"),
                                                'placeholder -> "Message",
                                                '_label -> "Message:",
                                                'rows -> 4)

                                    
                                    </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" id="submit-btn" type="submit">Send</button>
                            }
                              </div>
                            </div>
                          </div>
                        </div>
                        
                }
              }
            </div>
          </div> 

          <div id="media" class="tweets">
            <div class="card-columns">
              @for(tweet <- media){
                @defining(tweet.split("-")) { tweetArray =>                 
                  <div class="card">
                    <div id="@tweetArray(0)">
                      <script>
                        rendering("@tweetArray(0)");
                      </script>
                    </div>
                    
                    @if(bool==1){  
                      <a class="msg_btn" data-toggle="modal" data-target="#@tweet">
                        Message <span style="color: #E4BC7B">@tweetArray(1)</span> <i class="icon-envelope-l"></i> 
                      </a>
                    }
                  </div>
                

                  <div class="modal fade" id="@tweet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="interest-label">Send Message</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div id="interest-form">
                                    @b4.form(action=helper.CSRF(routes.SearchController.sendMessage(request.uri))){ 

                                            @b4.text(messageForm("recipientName").copy(value= Option[String](tweetArray(1))),
                                                'placeholder -> "Recipient Name",
                                                '_label -> "Recipient Name",
                                                'size -> 1)

                                            @b4.textarea(messageForm("message"),
                                                'placeholder -> "Message",
                                                '_label -> "Message:",
                                                'rows -> 4)
                                    
                                    </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button class="btn btn-primary" id="submit-btn" type="submit">Send</button>
                            }
                              </div>
                            </div>
                          </div>
                        </div>
                        
                }
              }

            
            </div>
             
             <hr> 
            <div class="button_wrapper">
              <a class="show_btn" id="media1">
                <b class="caret"></b> Show More
              </a>
            </div>

            <div class="card-columns">

              <div id="moreMedia" style="display:none">
                @for(tweet <- media1){
                  @defining(tweet.split("-")) { tweetArray =>                 
                    <div class="card">
                      <div id="@tweetArray(0)">
                        <script>
                          rendering("@tweetArray(0)");
                        </script>
                      </div>
                      
                      @if(bool==1){  
                        <a class="msg_btn" data-toggle="modal" data-target="#@tweet">
                        Message <span style="color: #E4BC7B">@tweetArray(1)</span> <i class="icon-envelope-l"></i> 
                      </a>
                      }
                    </div>
                  

                    <div class="modal fade" id="@tweet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="interest-label">Send Message</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div id="interest-form">
                                      @b4.form(action=helper.CSRF(routes.SearchController.sendMessage(request.uri))){ 

                                              @b4.text(messageForm("recipientName").copy(value= Option[String](tweetArray(1))),
                                                'placeholder -> "Recipient Name",
                                                '_label -> "Recipient Name",
                                                'size -> 1)

                                            @b4.textarea(messageForm("message"),
                                                'placeholder -> "Message",
                                                '_label -> "Message:",
                                                'rows -> 4)

                                      
                                      </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button class="btn btn-primary" id="submit-btn" type="submit">Send</button>
                              }
                                </div>
                              </div>
                            </div>
                          </div>
                          
                  }
                }
              </div>
            </div>

            <div class="button_wrapper">
              <a class="show_btn" id="media2" style="display:none">
                <hr>
                <b class="caret"></b> Show More
              </a>
            </div>

            <div class="card-columns">
              <div id="moreMedia2" style="display:none">
                @for(tweet <- media2){
                  @defining(tweet.split("-")) { tweetArray =>                 
                    <div class="card">
                      <div id="@tweetArray(0)">
                        <script>
                          rendering("@tweetArray(0)");
                        </script>
                      </div>
                        
                      @if(bool==1){
                        <a class="msg_btn" data-toggle="modal" data-target="#@tweet">
                        Message <span style="color: #E4BC7B">@tweetArray(1)</span> <i class="icon-envelope-l"></i> 
                      </a>
                      }
                    </div>
                  

                    <div class="modal fade" id="@tweet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="interest-label">Send Message</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div id="interest-form">
                                      @b4.form(action=helper.CSRF(routes.SearchController.sendMessage(request.uri))){ 

                                              @b4.text(messageForm("recipientName").copy(value= Option[String](tweetArray(1))),
                                                'placeholder -> "Recipient Name",
                                                '_label -> "Recipient Name",
                                                'size -> 1)

                                            @b4.textarea(messageForm("message"),
                                                'placeholder -> "Message",
                                                '_label -> "Message:",
                                                'rows -> 4)

                                      
                                      </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button class="btn btn-primary" id="submit-btn" type="submit">Send</button>
                              }
                                </div>
                              </div>
                            </div>
                          </div>
                          
                  }
                }
              </div>
            </div>
          </div>
        </div>

           @if(bool==1){

              <div class="fixed-bottom" id="footer">
                <button type="button" id="track_btn" class="btn btn-primary" data-toggle="modal" data-target="#trackModal">Track Search</button>
              </div>
               
              
              <div class="modal fade" id="trackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="interest-label">Track Search</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div id="track">
                        @b4.form(action=helper.CSRF(routes.SearchController.trackSearch(request.uri))){

                            @b4.text(trackForm("term").copy(value= Option[String](term)),
                              '_label -> "Search Term")

                            <div id="to-be-hidden">
                              @b4.select(
                                 trackForm("interest"),
                                 helper.options(interests),
                                 '_label -> "Interest",
                                 '_default -> "-- Select an Interest --",
                                 'selected -> "-1"
                              )
                                Or,  <a id="createinterest" href="#" onclick="display('hidden-form', 'to-be-hidden')"><u>create a new interest</u></a>:
                              
                            </div>

                            <div id="hidden-form" style="display:none">
                              <a  onclick="display('hidden-form', 'to-be-hidden')"><u>Undo</u></a>:
                              @b4.text(trackForm("newInterestName"),
                                              'placeholder -> "Interest Name",
                                              '_label -> "",
                                              'size -> 5)

                              <div id="be-hidden">
                                @b4.select(
                                   trackForm("personaName"),
                                   helper.options(personas),
                                   '_label -> "",
                                   '_default -> "-- Select an Interest Category --",
                                   'selected -> "-1"
                                )
                                Or, <a id="create-persona" onclick="display('hidden-category-form', 'be-hidden')"><u>create a new Interest Category</u></a>:
                              </div>

                              
                            </div>
                            <div id="hidden-category-form" style="display:none">
                              <a onclick="display('hidden-category-form', 'be-hidden')"><u>Undo</u></a>:
                              @b4.text(trackForm("newPersonaName"),
                                  'placeholder -> "Name of Interest Category",
                                  '_label -> "",
                                  'size -> 1)
                            </div>



                    </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button class="btn btn-primary" id="submit-btn" type="submit">Save changes</button>
                  }
                    </div>
                  </div>
                </div>
              </div>

              

            }
          </div>

            <script>
              $('#show').click(function() {
                $('#more').toggle();
                $('#show').toggle();
                $('#show2').toggle();
            });

              $('#show2').click(function() {
                $('#showMore').toggle();
                $('#show2').toggle();
            });

              $('#media1').click(function() {
                $('#moreMedia').toggle();
                $('#media2').toggle();
                $('#media1').toggle();
            });

              $('#media2').click(function() {
                $('#moreMedia2').toggle();
                $('#media2').toggle();
            });

            var myVar;
            myVar = setTimeout(showPage, 3000);

            function showPage() {
              document.getElementById("loader").style.display = "none";
              document.getElementById("loader-bg").style.display = "none";
              document.getElementById("page-content").style.display = "block";
            }
          </script>
}

