@(searchForm: Form[Search], user: String, bool: Integer, personaForm: Form[Persona], img: String, tweets: List[String], interestForm: Form[Interest], personas: List[String], interests: List[String])

@import helper._

<script sync src="https://platform.twitter.com/widgets.js"></script>
<script src="http://code.jquery.com/jquery-2.1.4.js"; type="text/javascript"></script>
<script src="@routes.Assets.versioned("javascripts/render.js")"; type="text/javascript"></script>

@main("NewsTweet")(searchForm)(user)(bool)(personaForm)(img)(interestForm)(personas)(interests){
  <div id="categories">
  	<h3>Sport:</h3>
  	<div class="card-columns">
      @for(tweet <- tweets){
        <div class="card"  id="@tweet"><br></div>
        <script>
          rendering("@tweet");
        </script>
      }
    </div>
  </div>
  
}