#title h1 {
	color: #ffffff;
	width: 20%;
	float: left;
	font-family: Arial;
	font-style: bold;
	font-size: 40px
	margin-top: 20;
	margin-left: 10px;
}

#header img {
    display: block;
    margin: auto;
    width: 200px;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    border-color: #fff;
}

#header {
	overflow: auto;
	background-color: #5e97f2;
	width: 100%;
	height: 40px;
}

body {
	margin: 0;
	background-color: #dbdcdd;
}

#sidebar {
    float: left;
    width: 200px;
    background: url("../images/fakecolumn.jpeg") repeat-y;
    min-height: 100%;
    position: fixed;
    top: 10px;
}

#sidebar h3 {
	margin-left: 10px
}

#sidebar p {
	margin-left: 10px;
}

#categories h3 {
	margin-left: 10px;
	float: top;
}

#user {
	float: right;
}

#persona_form{
	display: none;
	width: 150px;
	z-index: 1000;
}

#user_pic{
	width:50px;
	display: inline;
	border-top-left-radius: 25px; 
	border-top-right-radius: 25px; 
	border-bottom-right-radius: 25px; 
	border-bottom-left-radius: 25px;
	margin-right: 60%;
}

#user_options{
	display: none;
	float: right;
	background-color: white;
	width: 200px;
	margin-top: 61px;
	right: 10px;
	text-align: center;
	z-index: 1000;
	position: fixed;
}

#user_options:hover{
	display: block;
}

#user_pic:hover + #user_options{
	display: block;
}

table{
	width:100%;
	border-collapse: collapse;
	height:100%;
}

th{
	padding: 0;
	overflow: auto;
	background-color: #5e97f2;
	height: 35px;
}

#title{
	float: left;
}

#search form {
  display: flex; /* 2. display flex to the rescue */
  flex-direction: row;
}

#search input {
  display: inline; /* 1. oh noes, my inputs are styled as block... */
}

#categories{
	margin-left: 1%;
	overflow: hidden;
}

#categories img{
	width:250px;
	height:250px;
}

#category_info{
	width:250px;
	height:250px;
	position: relative;
}

#category_info h1{
	text-align: right;
	font-family:Helvetica;
    font-weight: bold;
	font-size: 48px;
	color: white;
	position: absolute;
    bottom: 0;
    right: 0;
}

#news_category{
	width:250px;
	height:250px;
	overflow: hidden;
}

#music_category{
	width:250px;
	height:250px;
	overflow: hidden;
}

#entertainment_category{
	width:250px;
	height:250px;
	overflow: hidden;
}

#tech_category{
	width:250px;
	height:250px;
	overflow: hidden;
}

#sport_category{
	width:250px;
	height:250px;
	overflow: hidden;
}

#caption{
	width:100%;
	text-align: right;
}

#interest_form{
	display:none;
}

#head{
	position: fixed;
	width:100%;
	z-index:10;
}

#tabs{
	position: fixed;
	width:100%;
	top:75px;
	z-index: 10;
	background-color:lightsteelblue;
	}

.persona, .search_result {
	padding:8px 16px;
	float:left;
	width:auto;
	border:0;
	outline:none;
	display:block;
  background-color:lightsteelblue;
}


.persona.clicked{
	padding:8px 16px;
	float:left;
	width:auto;
	border:0;
	outline:none;
	display:block;
  background-color:lightgrey;
}

#main{
	top:15%;
}

#recent{
	display: none;
}

#searchTabs th{
	width:400px;
}